.transactionList {
  width: 70%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

@media (max-width: 990px) {
  .transactionList {
    width: 90%;
  }
}